In [1]:
# Python List 

l1 = [1, 2.5, 'Python', True, ['abc','xyz'], (10,20,30)]
l1 
# mutable vs immutable

[1, 2.5, 'Python', True, ['abc', 'xyz'], (10, 20, 30)]

In [6]:
# List Concatenation , Append And Extend 
l1 = [3,4]
l1.extend([1,2,3])
l1 

# append vs extend 
l1.append(['a','b'])
print(l1)
l1.extend(['x','y'])
print(l1)


# l1.extend(2)

[3, 4, 1, 2, 3, ['a', 'b']]
[3, 4, 1, 2, 3, ['a', 'b'], 'x', 'y']

TypeError: 'int' object is not iterable

In [7]:
l1 = list('list')
l2 = l1 * 3
print(l2)

['l', 'i', 's', 't', 'l', 'i', 's', 't', 'l', 'i', 's', 't']

In [9]:
# List Slicing & Iteration
print('#' * 10 + ' LIST SLCING  '+ '#' * 10)

########## LIST SLCING  ##########

In [12]:
# PYTHON LIST GOTCHAS
l1  = [1,2,3]
l2 = l1 

l2[0] = 'XX'
l2.append(10)

print('l1: ', l1)
print('l1: ', l2)

print(id(l1) , id(l2))

l1:  ['XX', 2, 3, 10]
l1:  ['XX', 2, 3, 10]
140353930741120 140353930741120

In [13]:
l1.remove(2)

In [15]:
print('l1: ', l1)
print('l1: ', l2)

l1:  ['XX', 3, 10]
l1:  ['XX', 3, 10]

In [16]:
l3 = l1.copy()
l3.append('abc')
print('l1: ', l1)
print('l2: ', l2)
print('l3: ', l3)

print(id(l1) , id(l2), id(l3))

l1:  ['XX', 3, 10]
l2:  ['XX', 3, 10]
l3:  ['XX', 3, 10, 'abc']
140353930741120 140353930741120 140353932841664

In [17]:
# 2. 
nums = [1,2,3,4,5,6,7,0,1,2]
# This is WROONG 
for n in nums:
    if n < 5:
        nums.remove(n)
nums

[4, 5, 6, 7, 1, 2]

In [20]:
# Correct solution
new_list= list()
for n in nums:
    if n>=5:
        new_list.append(n)

new_list

# or can use List COmpreshension 
my_list = [n for n in nums if n>= 5]
my_list

[5, 6, 7]

In [22]:
# List Method part 1: Append, Extend , Insert, Copy , clear, pop , remove 
help(l1.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [23]:
l1.insert(-1, 2022)
print(l1)

['XX', 3, 2022, 10]

In [25]:
l3 = [10,20,10,40,20,10,20,20,'z']
while 20 in l3:
    l3.remove(20)
print(l3)

[10, 10, 40, 10, 'z']

In [26]:
# List Method Part 2: Index, Count(), Max() min(), SUM()

In [30]:
l1 = [1,3, 'abc',10,'x']
l1.reverse()
l1

['x', 10, 'abc', 3, 1]

In [31]:
# Converting String to LIST AND LISt to STRING : split() and Join()

In [32]:
# Split and Join
'''
    ● split() is a string method that having a delimiter or separator, which is by default a 
    whitespace or a tab, returns a new list of the words in the string using the delimiter 
    passed in as argument. We use split() to convert a string to a list. 
    >>> languages = 'Python Go Java Ruby C++ PHP'
    >>> languages.split()
    ['Python', 'Go', 'Java', 'Ruby', 'C++', 'PHP']

'''

# join()
'''
    ● join() is another string method that concatenates the elements of a list that is passed in 
    as argument into a string. It returns a new string.
    The string that is used to call join() on, will be put in between every item in the list.
    We use split() to convert a list to a string. 
    >>> lang_list = ['Python', 'Go', 'Java', 'Ruby', 'C++', 'PHP']
    >>> ':'.join(lang_list)
    'Python:Go:Java:Ruby:C++:PHP' Master Python Programming
'''

"\n    ● join() is another string method that concatenates the elements of a list that is passed in \n    as argument into a string. It returns a new string.\n    The string that is used to call join() on, will be put in between every item in the list.\n    We use split() to convert a list to a string. \n    >>> lang_list = ['Python', 'Go', 'Java', 'Ruby', 'C++', 'PHP']\n    >>> ':'.join(lang_list)\n    'Python:Go:Java:Ruby:C++:PHP' Master Python Programming\n"

In [43]:
# Project: Extract IPV4, IPV6 and MAC Address
# list_project_extract_ip.py 
interface = '''wlo1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 192.168.0.105  netmask 255.255.255.0  broadcast 192.168.0.255
        inet6 fe80::6ec6:fea5:4a08:33ae  prefixlen 64  scopeid 0x20<link>
        ether 14:13:33:ee:9c:1b  txqueuelen 1000  (Ethernet)
        RX packets 1007942  bytes 902567350 (902.5 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 531217  bytes 158518152 (158.5 MB)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0'''
interface

interface_list = interface.split("\n")
interface_list

ip_mac = list()

for iter in interface_list[1:4]:
    if "inet " in iter:
        print(f"IPV4 : {iter} ====>  {iter.split()[1]}")
    elif "inet6" in iter:
        print(f"IPV6 : {iter}  ====>  {iter.split()[1]}")
    elif "ether" in iter:
        print(f"MAC Address : {iter}  ====>  {iter.split()[1]}")

IPV4 :         inet 192.168.0.105  netmask 255.255.255.0  broadcast 192.168.0.255 ====>  192.168.0.105
IPV6 :         inet6 fe80::6ec6:fea5:4a08:33ae  prefixlen 64  scopeid 0x20<link>  ====>  fe80::6ec6:fea5:4a08:33ae
MAC Address :         ether 14:13:33:ee:9c:1b  txqueuelen 1000  (Ethernet)  ====>  14:13:33:ee:9c:1b

In [47]:
ip_mac = list()
for line in interface_list[1:4]:
    tmp_list = line.split()
    ip_mac.append(tmp_list[1])

print(ip_mac)
ip_mac_str = ','.join(ip_mac)
print(ip_mac_str)

['192.168.0.105', 'fe80::6ec6:fea5:4a08:33ae', '14:13:33:ee:9c:1b']
192.168.0.105,fe80::6ec6:fea5:4a08:33ae,14:13:33:ee:9c:1b

In [48]:
nums = [-4, 1, 10, 2.4, 5.5]
sorted(nums, reverse=True)
print(nums)

[-4, 1, 10, 2.4, 5.5]

In [49]:
years = [2022, 2020, 2021]
sorted(years)
print(years)

[2022, 2020, 2021]

In [50]:
years = [2022, 2020, 2021]
years.sort()
print(years)

[2020, 2021, 2022]

In [51]:
l1 = [10, 20, 30, 10, 20, 100, 10]
l1.pop(3)
n = l1.count(10)
print(n)

2

In [52]:
l1 = [10, 20, 30, 10, 20, 100, 10]
l1.pop()
n = l1.index(10)
print(n)

0

In [53]:
animals = ['Cat', 'Dog']
 
# Add an element at the end of the list. The new element stores the string 'Donkey'
# animals will be ['Cat', 'Dog', 'Donkey']
animals.append('Donkey')
 
 
# Add an element at position 2. This will be the 2nd element and will store the string 'Horse'
# animals will be ['Cat', 'Horse', 'Dog', 'Donkey']
animals.insert(1, 'Horse')
 
# Return the index of the element with value 'Cat'
cat_index = animals.index('Cat')
 
# Make a string variable named str_animals from the list by joining the elements of the list using '-' as a delimiter
# str_animals will be 'Cat-Horse-Dog-Donkey'
str_animals = '-'.join(animals)

In [56]:
# List Comprehension
clicks = [10,5, 15, 20]
doubled_list = list()
for c in clicks:
    doubled_list.append(c*2)
doubled_list

[20, 10, 30, 40]

In [58]:
# [Expression for item in iterable ]
doubled_numbers = [c*2 for c in clicks ]
doubled_numbers

[20, 10, 30, 40]

In [59]:
name = 'Andrie'
l1 = [char for char in name]
l1

['A', 'n', 't', 'r', 'i', 'e']

In [60]:
name = 'Andrie'
l2 = [char * 3 for char in name]
l2

['AAA', 'nnn', 'ddd', 'rrr', 'iii', 'eee']

In [61]:
name = 'Andrie'
l2 = [(char * 3).upper() for char in name]
l2

['AAA', 'NNN', 'DDD', 'RRR', 'III', 'EEE']

In [62]:
friends = ['Anderi', 'diana', 'paul']
my_friends = [item.capitalize() for item in friends]
my_friends

['Anderi', 'Diana', 'Paul']

In [63]:
my_friends = [item[::-1] for item in friends]
my_friends

['irednA', 'anaid', 'luap']

In [67]:
# List Comprehension Part2
# [Expression for item in iterable if condition ]
nums = [1,7,8,14,21]
divisibile_by_seven = [n for n in nums if n % 7  == 0]
divisibile_by_seven

[7, 14, 21]

In [73]:
nums_str  = [ str(n) for n in nums ]
print(nums_str)

print('-'.join(nums_str))
# print('-'.join(nums)) -error

['1', '7', '8', '14', '21']
1-7-8-14-21

In [76]:
friends = ['John', 'Dan', 'Marry']
neighbors = ['Tim','Steve','Dan','John']

friends_and_neignhour = [name for name in friends if name in neighbors]
friends_and_neignhour

['John', 'Dan']

In [79]:
friends = ['JoHn', 'dan', 'Marry']
neighbors = ['Tim','Steve','DAN','John']

friends_and_neignhour = [name for name in friends if name in neighbors]
friends_and_neignhour

friends_lower = [name.lower() for name in friends ]
print(friends_lower)
fn = [name.capitalize() for name in neighbors if name.lower() in friends_lower ]
fn

['john', 'dan', 'marry']

['Dan', 'John']

In [80]:
# Project : Countries with Longest/Shortest names

In [82]:
countries = ['Argentina', 'Somalia', 'Tuvalu', 'Malta', 'Armenia', 'Christmas Island', 'Uganda',
             'Central African Republic', 'Gambia', 'Morocco', 'Sint Maarten (Dutch part)', 'Tunisia', 'Aland Islands',
             'Angola', 'Yemen', 'Niue', 'Brunei Darussalam', 'Sudan', 'Holy See (Vatican City State)', 'Malaysia',
             'New Zealand', 'Palestinian Territory, Occupied', 'Iran, Islamic Republic of', 'Macedonia, Republic of',
             'Montenegro', 'Macao', 'Belarus', 'Netherlands', 'Greenland', 'Thailand', 'French Southern Territories',
             'Cyprus', "Korea, Democratic People's Republic of", 'Rwanda', 'Ethiopia', 'Saint Barthélemy', 'Botswana',
             'Puerto Rico', 'Cape Verde', 'Nicaragua', 'Croatia', 'Guadeloupe', 'Réunion', 'Belize',
             'Northern Mariana Islands', 'Indonesia', 'Serbia', 'British Indian Ocean Territory', 'Wallis and Futuna',
             'Saint Martin (French part)', 'Nigeria', 'Spain', 'Guernsey', 'Guyana', 'Namibia',
             'Venezuela, Bolivarian Republic of', 'Pitcairn', 'Suriname', 'Switzerland', 'Portugal', 'Saudi Arabia',
             'Tanzania, United Republic of', 'Norfolk Island', 'Iceland', 'Ukraine', 'Estonia', 'Nauru', 'Comoros',
             'Andorra', 'Turks and Caicos Islands', 'Guatemala', 'Cameroon', 'Chile', 'Bulgaria', 'Afghanistan',
             'Sri Lanka', 'Romania', 'Tokelau', 'Montserrat', 'Congo', 'Congo, The Democratic Republic of the',
             'Luxembourg', 'Bolivia, Plurinational State of', 'South Georgia and the South Sandwich Islands',
             'Djibouti', 'Brazil', 'Burkina Faso', 'Curaçao', 'Heard Island and McDonald Islands', 'Cook Islands',
             'Cocos (Keeling) Islands', 'China', 'Haiti', 'Swaziland', 'Mali', 'Burundi', 'Taiwan, Province of China',
             'Ireland', 'Maldives', 'France', 'Martinique', 'Nepal', 'Saint Lucia', 'Uruguay', 'Seychelles', 'Algeria',
             'Panama', 'Anguilla', 'Cuba', 'San Marino', 'Dominica', 'Germany', 'Iraq', 'Chad', 'Tonga', 'Qatar',
             'Lesotho', 'Liberia', 'Bosnia and Herzegovina', 'Canada', 'Turkey', 'French Guiana', 'Jersey', 'Niger',
             'Paraguay', 'Bangladesh', 'Barbados', 'Mauritius', 'United Kingdom', 'Bhutan', 'Isle of Man',
             'Svalbard and Jan Mayen', 'Falkland Islands (Malvinas)', "Lao People's Democratic Republic",
             'Saint Vincent and the Grenadines', 'Korea, Republic of', 'Dominican Republic', 'Philippines',
             'Austria', 'Samoa', 'South Africa', 'Australia', 'Bahamas', 'Fiji', 'Mayotte', 'Albania',
             'Sierra Leone', 'Gibraltar', 'Kazakhstan', 'French Polynesia', 'Jordan', 'Ecuador', 'Liechtenstein',
             'Solomon Islands', 'Belgium', 'Gabon', 'Bermuda', 'Georgia', 'Saint Pierre and Miquelon', 'Ghana',
             'Guinea', 'Singapore', 'Vanuatu', 'New Caledonia', 'Sao Tome and Principe', 'Mexico', 'Equatorial Guinea',
             'Pakistan', 'Marshall Islands', 'Jamaica', 'Antigua and Barbuda', 'South Sudan', 'Japan', 'Slovenia',
             'Moldova, Republic of', 'Virgin Islands, British', 'Latvia', 'Kenya', 'Trinidad and Tobago', 'Norway',
             'Timor-Leste', 'Faroe Islands', 'Zimbabwe', 'Kuwait', 'Mozambique', 'Mauritania', 'Benin', 'Togo',
             'Sweden', 'Cayman Islands', 'Mongolia', 'United States', 'United States Minor Outlying Islands',
             'Papua New Guinea', 'Hong Kong', 'Myanmar', 'Viet Nam', 'Malawi', 'Micronesia, Federated States of',
             'Aruba', 'Virgin Islands, U.S.', 'Saint Helena, Ascension and Tristan da Cunha', 'Oman',
             'Bonaire, Sint Eustatius and Saba', 'Senegal', 'Monaco', 'Russian Federation', 'Antarctica',
             'American Samoa', 'Slovakia', 'Guinea-Bissau', 'Egypt', 'Madagascar', 'Guam', 'United Arab Emirates',
             'Kiribati', 'Israel', 'Eritrea', 'Saint Kitts and Nevis', 'El Salvador', 'Lebanon', 'Poland',
             'Syrian Arab Republic', 'Cambodia', 'Czech Republic', 'Tajikistan', 'India', 'Denmark', "Côte d'Ivoire",
             'Kyrgyzstan', 'Peru', 'Italy', 'Bouvet Island', 'Palau', 'Lithuania', 'Colombia', 'Turkmenistan', 'Zambia',
             'Libya', 'Greece', 'Honduras', 'Azerbaijan', 'Costa Rica', 'Uzbekistan', 'Hungary',
             'Grenada', 'Bahrain', 'Finland']

countries

['Argentina',
 'Somalia',
 'Tuvalu',
 'Malta',
 'Armenia',
 'Christmas Island',
 'Uganda',
 'Central African Republic',
 'Gambia',
 'Morocco',
 'Sint Maarten (Dutch part)',
 'Tunisia',
 'Aland Islands',
 'Angola',
 'Yemen',
 'Niue',
 'Brunei Darussalam',
 'Sudan',
 'Holy See (Vatican City State)',
 'Malaysia',
 'New Zealand',
 'Palestinian Territory, Occupied',
 'Iran, Islamic Republic of',
 'Macedonia, Republic of',
 'Montenegro',
 'Macao',
 'Belarus',
 'Netherlands',
 'Greenland',
 'Thailand',
 'French Southern Territories',
 'Cyprus',
 "Korea, Democratic People's Republic of",
 'Rwanda',
 'Ethiopia',
 'Saint Barthélemy',
 'Botswana',
 'Puerto Rico',
 'Cape Verde',
 'Nicaragua',
 'Croatia',
 'Guadeloupe',
 'Réunion',
 'Belize',
 'Northern Mariana Islands',
 'Indonesia',
 'Serbia',
 'British Indian Ocean Territory',
 'Wallis and Futuna',
 'Saint Martin (French part)',
 'Nigeria',
 'Spain',
 'Guernsey',
 'Guyana',
 'Namibia',
 'Venezuela, Bolivarian Republic of',
 'Pitcairn',
 'Suriname',
 'Switzerland',
 'Portugal',
 'Saudi Arabia',
 'Tanzania, United Republic of',
 'Norfolk Island',
 'Iceland',
 'Ukraine',
 'Estonia',
 'Nauru',
 'Comoros',
 'Andorra',
 'Turks and Caicos Islands',
 'Guatemala',
 'Cameroon',
 'Chile',
 'Bulgaria',
 'Afghanistan',
 'Sri Lanka',
 'Romania',
 'Tokelau',
 'Montserrat',
 'Congo',
 'Congo, The Democratic Republic of the',
 'Luxembourg',
 'Bolivia, Plurinational State of',
 'South Georgia and the South Sandwich Islands',
 'Djibouti',
 'Brazil',
 'Burkina Faso',
 'Curaçao',
 'Heard Island and McDonald Islands',
 'Cook Islands',
 'Cocos (Keeling) Islands',
 'China',
 'Haiti',
 'Swaziland',
 'Mali',
 'Burundi',
 'Taiwan, Province of China',
 'Ireland',
 'Maldives',
 'France',
 'Martinique',
 'Nepal',
 'Saint Lucia',
 'Uruguay',
 'Seychelles',
 'Algeria',
 'Panama',
 'Anguilla',
 'Cuba',
 'San Marino',
 'Dominica',
 'Germany',
 'Iraq',
 'Chad',
 'Tonga',
 'Qatar',
 'Lesotho',
 'Liberia',
 'Bosnia and Herzegovina',
 'Canada',
 'Turkey',
 'French Guiana',
 'Jersey',
 'Niger',
 'Paraguay',
 'Bangladesh',
 'Barbados',
 'Mauritius',
 'United Kingdom',
 'Bhutan',
 'Isle of Man',
 'Svalbard and Jan Mayen',
 'Falkland Islands (Malvinas)',
 "Lao People's Democratic Republic",
 'Saint Vincent and the Grenadines',
 'Korea, Republic of',
 'Dominican Republic',
 'Philippines',
 'Austria',
 'Samoa',
 'South Africa',
 'Australia',
 'Bahamas',
 'Fiji',
 'Mayotte',
 'Albania',
 'Sierra Leone',
 'Gibraltar',
 'Kazakhstan',
 'French Polynesia',
 'Jordan',
 'Ecuador',
 'Liechtenstein',
 'Solomon Islands',
 'Belgium',
 'Gabon',
 'Bermuda',
 'Georgia',
 'Saint Pierre and Miquelon',
 'Ghana',
 'Guinea',
 'Singapore',
 'Vanuatu',
 'New Caledonia',
 'Sao Tome and Principe',
 'Mexico',
 'Equatorial Guinea',
 'Pakistan',
 'Marshall Islands',
 'Jamaica',
 'Antigua and Barbuda',
 'South Sudan',
 'Japan',
 'Slovenia',
 'Moldova, Republic of',
 'Virgin Islands, British',
 'Latvia',
 'Kenya',
 'Trinidad and Tobago',
 'Norway',
 'Timor-Leste',
 'Faroe Islands',
 'Zimbabwe',
 'Kuwait',
 'Mozambique',
 'Mauritania',
 'Benin',
 'Togo',
 'Sweden',
 'Cayman Islands',
 'Mongolia',
 'United States',
 'United States Minor Outlying Islands',
 'Papua New Guinea',
 'Hong Kong',
 'Myanmar',
 'Viet Nam',
 'Malawi',
 'Micronesia, Federated States of',
 'Aruba',
 'Virgin Islands, U.S.',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Oman',
 'Bonaire, Sint Eustatius and Saba',
 'Senegal',
 'Monaco',
 'Russian Federation',
 'Antarctica',
 'American Samoa',
 'Slovakia',
 'Guinea-Bissau',
 'Egypt',
 'Madagascar',
 'Guam',
 'United Arab Emirates',
 'Kiribati',
 'Israel',
 'Eritrea',
 'Saint Kitts and Nevis',
 'El Salvador',
 'Lebanon',
 'Poland',
 'Syrian Arab Republic',
 'Cambodia',
 'Czech Republic',
 'Tajikistan',
 'India',
 'Denmark',
 "Côte d'Ivoire",
 'Kyrgyzstan',
 'Peru',
 'Italy',
 'Bouvet Island',
 'Palau',
 'Lithuania',
 'Colombia',
 'Turkmenistan',
 'Zambia',
 'Libya',
 'Greece',
 'Honduras',
 'Azerbaijan',
 'Costa Rica',
 'Uzbekistan',
 'Hungary',
 'Grenada',
 'Bahrain',
 'Finland']

In [83]:
sorted_countries = sorted(countries)
print(sorted_countries)

['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Réunion', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']

In [87]:
country_len_list = []
for country in sorted_countries:
    country_len_list.append( len(country))

min_len = min(country_len_list)
max_len = max(country_len_list)
print(f"MIN LEN: {min_len}, max_len: {max_len}")

MIN LEN: 4, max_len: 44

In [88]:
country_len_list = [len(country) for country in sorted_countries]
country_len_list

[11,
 13,
 7,
 7,
 14,
 7,
 6,
 8,
 10,
 19,
 9,
 7,
 5,
 9,
 7,
 10,
 7,
 7,
 10,
 8,
 7,
 7,
 6,
 5,
 7,
 6,
 31,
 32,
 22,
 8,
 13,
 6,
 30,
 17,
 8,
 12,
 7,
 8,
 8,
 6,
 10,
 14,
 24,
 4,
 5,
 5,
 16,
 23,
 8,
 7,
 5,
 37,
 12,
 10,
 7,
 4,
 7,
 6,
 14,
 13,
 7,
 8,
 8,
 18,
 7,
 5,
 11,
 17,
 7,
 7,
 8,
 27,
 13,
 4,
 7,
 6,
 13,
 16,
 27,
 5,
 6,
 7,
 7,
 5,
 9,
 6,
 9,
 7,
 10,
 4,
 9,
 8,
 6,
 13,
 6,
 5,
 33,
 29,
 8,
 9,
 7,
 7,
 5,
 9,
 25,
 4,
 7,
 11,
 6,
 5,
 7,
 5,
 6,
 6,
 10,
 5,
 8,
 38,
 18,
 6,
 10,
 32,
 6,
 7,
 7,
 7,
 5,
 13,
 9,
 10,
 5,
 22,
 10,
 6,
 8,
 8,
 4,
 5,
 16,
 10,
 10,
 9,
 7,
 6,
 31,
 20,
 6,
 8,
 10,
 10,
 7,
 10,
 7,
 7,
 5,
 5,
 11,
 13,
 11,
 9,
 5,
 7,
 4,
 14,
 24,
 6,
 4,
 8,
 5,
 31,
 6,
 16,
 8,
 4,
 11,
 8,
 6,
 8,
 11,
 5,
 7,
 18,
 6,
 7,
 16,
 44,
 21,
 11,
 26,
 25,
 32,
 5,
 10,
 21,
 12,
 7,
 6,
 10,
 12,
 9,
 25,
 8,
 8,
 15,
 7,
 12,
 44,
 11,
 5,
 9,
 5,
 8,
 22,
 9,
 6,
 11,
 20,
 25,
 10,
 28,
 8,
 11,
 4,
 7,
 5,
 19,
 7,
 6,
 12,
 24,
 6,
 6,
 7,
 20,
 14,
 13,
 36,
 7,
 10,
 7,
 33,
 8,
 23,
 20,
 17,
 5,
 6,
 8]

In [91]:
# sort in place , use sort() method , soted alphbetically in asceding order
countries.sort()
print(countries)

# Get the leng of all the lsit 
lengths = [len(c) for c in countries ]
print(lengths)

['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Réunion', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']
[11, 13, 7, 7, 14, 7, 6, 8, 10, 19, 9, 7, 5, 9, 7, 10, 7, 7, 10, 8, 7, 7, 6, 5, 7, 6, 31, 32, 22, 8, 13, 6, 30, 17, 8, 12, 7, 8, 8, 6, 10, 14, 24, 4, 5, 5, 16, 23, 8, 7, 5, 37, 12, 10, 7, 4, 7, 6, 14, 13, 7, 8, 8, 18, 7, 5, 11, 17, 7, 7, 8, 27, 13, 4, 7, 6, 13, 16, 27, 5, 6, 7, 7, 5, 9, 6, 9, 7, 10, 4, 9, 8, 6, 13, 6, 5, 33, 29, 8, 9, 7, 7, 5, 9, 25, 4, 7, 11, 6, 5, 7, 5, 6, 6, 10, 5, 8, 38, 18, 6, 10, 32, 6, 7, 7, 7, 5, 13, 9, 10, 5, 22, 10, 6, 8, 8, 4, 5, 16, 10, 10, 9, 7, 6, 31, 20, 6, 8, 10, 10, 7, 10, 7, 7, 5, 5, 11, 13, 11, 9, 5, 7, 4, 14, 24, 6, 4, 8, 5, 31, 6, 16, 8, 4, 11, 8, 6, 8, 11, 5, 7, 18, 6, 7, 16, 44, 21, 11, 26, 25, 32, 5, 10, 21, 12, 7, 6, 10, 12, 9, 25, 8, 8, 15, 7, 12, 44, 11, 5, 9, 5, 8, 22, 9, 6, 11, 20, 25, 10, 28, 8, 11, 4, 7, 5, 19, 7, 6, 12, 24, 6, 6, 7, 20, 14, 13, 36, 7, 10, 7, 33, 8, 23, 20, 17, 5, 6, 8]

In [98]:
max_length = max(lengths)
print(f"MAX : {max_length}")

min_length = min(lengths)
print(f"MIN : {min_length}")

MAX : 44
MIN : 4

In [99]:
longest_name = [c for c in countries if len(c) == max_length]
print(f'Countries with the longest names: {longest_names}')
longest_name

['Saint Helena, Ascension and Tristan da Cunha',
 'South Georgia and the South Sandwich Islands']

In [100]:
shortest_name = [c for c in countries if len(c) == min_length]
print(f'Countries with the longest names: {shortest_name}')

['Chad',
 'Cuba',
 'Fiji',
 'Guam',
 'Iraq',
 'Mali',
 'Niue',
 'Oman',
 'Peru',
 'Togo']

In [104]:
longest_names = [c for c in countries if len(c) == max([len(c) for c in countries])]
longest_names

['Saint Helena, Ascension and Tristan da Cunha',
 'South Georgia and the South Sandwich Islands']

In [105]:
shortest_names = [c for c in countries if len(c) == min([len(c) for c in countries])]
shortest_names

['Chad',
 'Cuba',
 'Fiji',
 'Guam',
 'Iraq',
 'Mali',
 'Niue',
 'Oman',
 'Peru',
 'Togo']

In [1]:
miles = [12, 10, 26, 80]
# 1 mile = 1.609 km
km = [m * 1.609 for m in miles]
print(km)   # => [19.308, 16.09, 41.834, 128.72]

[19.308, 16.09, 41.834, 128.72]